{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  {#<!-- Обращаемся через object -->#}
  <h1>Удалить запись {{ object.title }}</h1>
  <div class="card col-4 m-3">
    <div class="card-header">
      {{ post.pub_date|date:"d E Y, H:i" }} |
      {% if post.location and post.location.is_published %}
        {{ post.location.name }}
      {% else %}
        Планета Земля
      {% endif %}
      <br>
      От автора <a class="text-muted"
    href="{% url 'blog:profile' post.author.username %}">@{{ post.author.username }}</a> в
      категории
      {% include "includes/category_link.html" %}
      {#<!-- Обращаемся через birthday -->#}
    </div>
    <div class="card-body">
      <p class="card-text">{{ post.text|linebreaksbr }}</p>
      {#<!-- В форме только csrf-токен и кнопка. Никакие другие поля тут не нужны.  -->#}
      <form method="post">
        {% csrf_token %}
        {% bootstrap_button button_type="submit" content="Удалить" %}
      </form>
    </div>
  </div>
{% endblock content %}
